.container {
    max-width: 500px;
    margin: 0 auto;
    color: #333;
    line-height: 1.5;
    padding: 20px;
    background-color: #f3eaff;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px #3a036b26;
}