html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 500px;
    margin: 0 auto;
    color: #333;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    padding: 0 20px;
    background-color: #f3eaff;
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;  
}